*{
  padding: 3px;

}

html, body {
  display: flex;
  height: 100%;
}

body.div,h2,h1{
      font-family: Roboto, Arial, sans-serif;
      color: #666;
      font-size: 20px;

}

body.div,label,input{
      font-family: Roboto, Arial, sans-serif;
      color: #666;
      font-size: 15px;
}



/* container{
  float: left;
} */

.container{
  float:center;
 
}
p {
  font-size: 12px;
}

.left_container{
    text-align:left;
  margin: auto;
  padding: 5px 0;
  
}


hr {
  color: #a9a9a9;
  opacity: 0.3;
}

.main-block {
    min-width: 300;
    min-height: 300px; 
    padding: 5px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #6a8f98;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    float:active;
    
    text-align:center;
}


form {
  margin: 0 30px;
}

button {
  box-shadow: 1px 2px 5px rgb(119 43 43 / 9%); 
  text-align: center;    
  margin: 10px;
  border-radius: 5px; 
  background: #f5f2f2; 
  font-size: 12px;
  font-weight: 600;
  color: rgb(135 100 131);
  
  
  float: center;
}

button:hover {
  background: #26a9e0;
}


.hr{
 color: black 
}

/*merge with .hr*/
.mySeperator{
  color: black ;
  background: black;
  padding: 5px;     
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style:hidden;
  border-width: 1px;
  
}

/*Login*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*login-name tag, homepage-admin tag*/
.transparent
{
  opacity: 0
}

.visible
{
  opacity: 100
}
   

/* .PostItem
{
  color: #15b562;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
} */

/*.singlepost .PostAuthorName{
   font-weight:600;
} */

/* .single-post .PostName{
  text-align: center; 
	color: #15b562;
} */

/* .single-post .PostText{
  text-align: center; 
  color: black;
} */

